<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mini-Shop</title>
  <script src="vue.global.js"></script>
</head>
<body>
  <h1>Mini-Shop</h1>

  <div id="app">
    <h2>Produkte</h2>
    <ul>
      <li v-for="(item, key) in productsList" :key="key">
        {{ item.title }}: {{ item.price }}
        <button type="button" @click="addToBasket(item)"> + </button>
      </li>
    </ul>


    <h2>Warenkorb</h2>
    <ul>
      <li v-for="(item, key) in basketList" :key="key">
        {{ item.title }}: {{ item.price }}
        <button type="button" @click="removeFromBasket(key)"> - </button>
      </li>
    </ul>

    <p>Betrag: {{ basketAmount }}</p>
  </div>



  <script>
    // Product = id, title, price
    // products-List
    // cart-List
    // Composition-API

    // Composables
    

    const app = Vue.createApp({
      components: {
        
      },

      // Composition-API
      setup() {
        console.log('app.setup');

        const productsList = Vue.ref([
          {
            id: 1,
            title: 'Kaffee',
            price: 2.50
          },
          {
            id: 2,
            title: 'Bier',
            price: 2.50
          },
          {
            id: 3,
            title: 'Wodka',
            price: 2.50
          },
          {
            id: 4,
            title: 'Whisky',
            price: 2.50
          },
          {
            id: 5,
            title: 'Tee',
            price: 2.50
          },
        ]);

        const basketList = Vue.ref([]);

        const basketAmount = Vue.computed(() => {
          return basketList.value.reduce((total, item) => {
            return total + item.price;
          }, 0);
        });

        const addToBasket = (item) => {
          basketList.value.push(item);
        }

        const removeFromBasket = (key) => {
          basketList.value.splice(key, 1);
        }
        
        Vue.onMounted(() => {
          console.log('app-mounted...');
        });

        return {
          productsList,
          basketList,
          addToBasket,
          basketAmount,
          removeFromBasket
        }
      }
    });
    app.mount('#app');

  </script>
</body>
</html>